.git
.env
.DS_Store
airflow_settings.yaml
__pycache__/
astro
.venv
airflow-webserver.pid
webserver_config.py
airflow.cfg
airflow.db
*.egg-info
include
logs
artifacts/invalid
grafana-data
prometheus-data/chunks_head/
prometheus-data/wal/
prometheus-data/lock
prometheus-data/queries.active